<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/profile', user: @user, book: @book %>
		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>

			<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@books.user) do %>
							<%= attachment_image_tag @books.user, :profile_image, class: "img-circle pull-left profile-thumb", size: "50x50", fallback: "no-image-mini.jpg" %><br>
							<%= @books.user.name %>
						<% end %>
					</td>
					<td><%= @books.title %></td>
					<td><%= @books.body %></td>

					<% if @books.user_id == current_user.id %>
						<td><%= link_to "Edit",edit_book_path(@books), class: "btn-sm btn-success edit_book_#{@books.id}" %></td>
						<td><%= link_to "Destroy", book_path(@books.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %></td>
					<% end %>
				</tr>
			</table>

			<div class="comment-list bt style-2" id="comments">
				<div class="float-wrapper">
					<i class="comment-count">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><%= @books.book_comments.count %>件コメント
					</i>
				</div>
				<% if @books.favorited_by?(current_user) %>
				<div>
					<%= link_to book_favorites_path(@books), method: :delete do %>
						<i class="fa fa-heart" aria-hidden="true" style="color: red;">
							<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
						</i>
						<%= @books.favorites.count %>いいね
					<% end %>
				</div>
				<% else %>
				<div>
					<%= link_to book_favorites_path(@books), method: :post do %>
						<i class="fa fa-heart-o" aria-hidden="true">
							<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						</i>
						<%= @books.favorites.count %>いいね
					<% end %>
				</div>
				<% end %>
			</div>

			<%= form_for [@books, @comment] do |f| %>
				<div class="row">
					<div class="col-sm-12">
						<h5>記事へのコメント</h5>
						<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "ここにコメントを入力" %>
						<%= f.submit "送信する", class: "btn btn-md btn-base-1 mt-20 pull-right" %>
					</div>
				</div>
			<% end %>
			<div class="row">
				<div class="col-sm-12">
					<h5>Comments</h5>
					<ol>
						<% @books.book_comments.each do |book_comment| %>
						<li class="comment col-xs-12">
							<div class="comment-body bb col-xs-12" style="border-bottom: 1px solid #DDDDDD; padding: 3px 0px;">
								<table>
									<tr>
										<td class="col-xs-2">
											<%= attachment_image_tag book_comment.user, :profile_image, class: "img-circle pull-left profile-thumb", size: "30x30", fallback: "no-image-mini.jpg" %><br>
											<%= book_comment.user.name %>
											<span class="comment-meta">
												<span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
											</span>
										</td>
										<td class="col-xs-8">
											<%= book_comment.comment %>
										</td>

										<% if book_comment.user == current_user %>
										<td class="col-xs-2">
											<%= link_to "Destroy", book_book_comment_path(@books,book_comment), method: :delete, "data-confirm" => "本当に削除してもよろしいですか？", class: "btn-sm btn-danger pull-right" %>
										</td>
										<% end %>
									</tr>
								</table>
							</div>
						</li>
						<% end %>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>